{% extends 'lists/base.html' %}



{% block heading %} <a href="/">To-Do</a> {% endblock %}


{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="row" style="font-size:1.5em;">
    <div class="col-md-6">{{ user.user.first_name }} {{ user.user.last_name }}</div>
    <div class="col-md-6 pull-right"><a href="/logout">Logout</a></div>
</div>

<br>



<form action="/{{ user.user.username }}/" method="post">
    {{ form }}
    {% csrf_token %}
</form>
<br>
<ul class="list-group">
    {% for item in list_items %}
        <li class="list-group-item" style="text-align:center"><span class="badge pull-left">{{ forloop.counter }}</span> {{ item.text }}</li>
    {% endfor %}
</ul>

{% endblock %}
