{% extends 'lists/base.html' %}

{% block heading %} To-Do {% endblock %}

{% block body %}

<h2>{{ user.name }}</h2>

<form action="/users/{{ user.user_name }}/new" method="post">
    <input class="form-control input-lg" id="list_item_input" name="item_input" placeholder="Enter Item">
    {% csrf_token %}
</form>

<table id="item_list" class="table">
    {% for item in user.item_set.all %}
        <tr><td>{{ forloop.counter }}. </td><td style="text-align:left;">{{ item.text }}</td></tr>
    {% endfor %}
</table>

{% endblock %}
