{% extends 'lists/base.html' %}

{% block heading %} Sign-up {% endblock %}

{% block body %}

  {% if registered %}
    <strong> Thank you for registering! </strong>
    <a href="/"> Home Page </a>
  {% else %}
        <form id="user_form" method="post" action="/signup">
          {% csrf_token %}

          {% for field in user_form %}

                <div class="form-group">
                    {{ field }}
                </div>

          {% endfor %}
          <div class="form-group">
          {{ profile_form.as_p }}
          </div>
          <input class="btn btn-primary btn-block" type="submit" name="submit" value="Register" />
        </form>
  {% endif %}

{% endblock %}
